<div class="container-with-spacing">
  <h1>{{ 'home.title' | translate }}</h1>
  <p>{{ 'home.welcome' | translate }}</p>
  <p>{{ 'home.eventsRegistered' | translate }}</p>

  <div class="navigation-cards">
    <div class="nav-card">
      <h3>Issue Analytics</h3>
      <a routerLink="/analytics" class="nav-button">Emter</a>
    </div>

    <div class="nav-card">
      <h3>Next Service Order</h3>
      <a routerLink="/service-orders/nextt" class="nav-button">Enter</a>
    </div>

  </div>
</div>
